

{% block title %}Relacion index{% endblock %}

{% block body %}
    <h1>Relacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relacion in relacions %}
            <tr>
                <td>{{ relacion.id }}</td>
                <td>
                    <a href="{{ path('app_relacion_show', {'id': relacion.id}) }}">show</a>
                    <a href="{{ path('app_relacion_edit', {'id': relacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_relacion_new') }}">Create new</a>
{% endblock %}
